<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <script type="text/javascript"
	  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_HTMLorMML.js">
  </script>
  <script>
    MathJax.Hub.Config({
      asciimath2jax: {
        delimiters: [['[[',']]'], ['`','`']]
      },
      tex2jax: {
        inlineMath: [['$','$'], ['\\(','\\)']],
        processEscapes: true
      }
    });
  </script>
  <link href="{{ site.url }}/pages/site.atom" rel="alternate" 
	title="df/dx - Atom" type="application/atom+xml">
  <link rel="stylesheet" href="{{ site.url }}/css/bootstrap.min.css">
  <style>
    body {
      font-size: 17px; 
    }
    img {
      display: block;
      margin-left: auto;
      margin-right: auto 
    }
    
  </style>
</head>
<body>
  <div id="wrapper">
    <div style="width: 960px; margin-right: auto; margin-left: auto;">
      {{ content }}
    </div>
  </div>
  <br/>
  <br/>
</body>
</html>
